<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecomClima Buscar</title>
    <link href="../output.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Flamenco:wght@300;400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="main-header w-full h-auto bg-blue-700 shadow-md text-slate-200">
        <nav class="main-nav flex flex-col md:flex-row md:justify-evenly items-center justify-evenly gap-4 p-4">
            <a href="../index.html"><img class="logo-link mx-auto mb-4 w-28 h-28" src="../img/icon.png"
                    alt="logo RecomClima"></a>
            <a href="../index.html" class="flex flex-col text-center">
                <span class="text-lg">Inicio</span></a>
            <a href="../views/favorites_city.html" class="flex flex-col text-center"><img
                    class="logo-favoritos mx-auto mb-2 w-20 h-20 animate-pulse" src="../img/ic_filled_heart.png"
                    alt="icono de corazón lleno">
                <span class="text-lg">Favoritos</span></a>
            <a href="./search_city.html" class="flex flex-col text-center"><img
                    class="logo-login mx-auto mb-2 w-20 h-20" src="../img/ic_search.png" alt="icono de buscar">
                <span class="text-lg">Buscar</span></a>
        </nav>
    </header>

    <main>

        <section id="search-input-section section">

            <h1 class="text-2xl md:text-3xl m-4 text-center font-normal text-blue-950">Buscar Ciudad</h1>

            <div>
                <form id="form-search-city" class="flex flex-col items-center">
                    <label for="city" class="text-lg md:text-xl">Buscar país:</label>
                    <div class="w-full text-center">
                        <input type="text" id="city" name="city"
                            class="text-xl rounded-xl w-1/2 p-2 border border-blue-800  focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Ej. Mexico, Paris, Tokio, etc..." required>
                        <button type="submit"
                            class="rounded-3xl p-2 bg-blue-800 hover:bg-blue-900 text-blue-100">Buscar</button>
                    </div>

                </form>
                <div id="autocomplete-list" class="bg-white text-black border rounded mt-2 max-w-sm mx-auto hidden">
                </div>
            </div>
        </section>

        <section id="weather-result-section">
            <div id="weather-result" class="mt-6 text-center"></div>
        </section>

        <section id="forecast-result-section">
            <div id="forecast-result" class="mt-6"></div>
        </section>

    </main>

    <script type="module" src="../js/UI/search_city.js"></script>

</body>

</html>